body {
    width: 100%;
    margin: 0;
    
    letter-spacing: .1rem; 
}

.menu {
    height: max-content;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;  
    font-size: 20px;
    font-family: Helvetica;
    letter-spacing: .15rem;
    text-transform: uppercase;
    flex-shrink: 1 !important;
    background-color: #333399;
    position: relative;
    margin-bottom: 0;
}
/* 1em = 12pt = 16px = 100% */
.menu > div > a {
    
    width: 20%;
    font-size: 100%;
    font-family: Helvetica;     
    font-weight: bold; 
    position: absolute;
    top: 63%;
    left: 68%;
    display: flex;
    flex-shrink: 1;
    justify-content: center;
}

.menu > div {
    width: 100%;
    
}
.menu > div > img {
    width: 100%;
}

.corpo {
    width: 100%;
    display: flex;
    flex-direction: column;
    margin: 0;
}

.descricao {
    height: 100%;
    width: 100%;
    background-color: #333399;
    display: flex;
    justify-content: flex-start;
    flex-wrap: wrap;
}

.box-1 {
    box-sizing: border-box;
    background-color: #333399;
    color: white;
    margin: 5%;
    font-family: Helvetica;
    display: flex;
    flex-direction: column;
    flex: 1 2 300px;
}

.round-img {
    border-radius: 50%
}

.box-2 {
    box-sizing: border-box;
    background-color: #333399;
    margin: 5%;    
    display: flex;
    align-self: auto;
    flex: 2 1 300px;
    justify-content: center;
}
.box-2 > p, label {
    width: 100%;
    text-align: center;
}
.box-2 > label {
    margin-bottom: 2%;
}
.box-2 > img {
    width: 40%;
    justify-content: center;
}

.programacao {
    display: flex;
    height: fit-content;
    flex-direction: column;
    align-items: center;
    background-color: #2F2F2F;
    color: white;
    width: 100%;
    height: fit-content;
    font-family: Helvetica;
}
.programacao > h1 {
    font-family: Helvetica;     
    letter-spacing: .2rem;
    font-weight: bold;  
    text-align: center;
}
.programacao > div {
    background-color: #2F2F2F;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;

}
.programacao > div > div {
    background-color: #2F2F2F;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.programacao > div > div > ul {
    display: flex;
    flex-direction: column;
    align-items: center;
    list-style: none;
}
.programacao > div > div > ul > li {
    margin: 10px;
}
.programacao > iframe {
    margin: 15px;
    width: 80%;
}

.palestrantes {
    display: flex;
    height: fit-content;
    flex-direction: column;
    align-items: center;
    background-color: #2F2F2F;
    color: white;
    width: 100%;
    font-family: Helvetica;
}
.palestrantes > h1 {
    font-family: Helvetica;     
    letter-spacing: .2rem;
    font-weight: bold;  
    text-align: center;
}
.palestrantes > div {
    background-color: #2F2F2F;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
}
.palestrantes > div > div {
    background-color: #2F2F2F;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.disclaimer {
    font-size: small;
}

.parceiros {
    width: 100%;
    height: fit-content;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 0;
    background-color: #D3D3D3;
    flex-wrap: wrap;
}


.parceiros > h1{
    font-family: Helvetica;     
    letter-spacing: .2rem;
    font-weight: bold;  
    text-align: center;

}

.parceiros-container {
    display: flex;
    justify-content: center;

}

.veiranos {
    width: 100px;
    height: 100px;
}

.gruposinal {
    width: 150px;
    height: 100px
}

.footer {
    background-color: #D3D3D3;
    width: 100%;
    height: 100px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    justify-content: flex-end;
}
.footer > div {
    letter-spacing: .2rem;
    font-weight: bold;  
    image-rendering: "auto"
}
.footer > div > a > img {
    width: 50px;
    height: 50px;
    margin: 10px;   
    letter-spacing: .2rem;
    font-weight: bold;  
    image-rendering: "auto"
}
.footer > div > img {
    width: 50px;
    height: 50px;
    margin: 10px;   
    letter-spacing: .2rem;
    font-weight: bold;  
    image-rendering: "auto"
}