body {
    width: 100%;
    margin: 0;
    
}

.menu {
    height: fit-content;
    width: auto;
    background-color: black;
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;  
    font-size: 35px;
    font-family: Helvetica;
    letter-spacing: .2rem;
}

.menu > button {
    margin: 2%;
    height: 40px;
    width: 280px;
    font-size: 15px;
    font-family: Helvetica;     
    font-weight: bold;   
}

.menu > img {
    height: 30%;
    width: 50%;
    margin: 5%;
    flex-direction: column;
    align-self: center;
    
}
.corpo {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.descricao {
    height: max-content;
    background-color: #D3D3D3;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.box-1 {
    background-color: #D3D3D3;
    width: 50%;
    height: 150%;
    margin: 5%;
}

.box-2 {
    background-color: white;
    width: 50%;
    margin: 5%;
    height: 150px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.box-2 > img {
    width: 100%;
    height: 100%;
}

.programacao {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #363636;
    color: white;
    width: 100%;
    height: 200px;
    height: max-content;
}
.programacao > h2 {
    font-family: Helvetica;     
    letter-spacing: .2rem;
    font-weight: bold;  
}
.programacao > div {
    background-color: #363636;
    color: white;

}

.programacao > div > div {
    background-color: #363636;
}

.parceiros {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    height: 250px;
    width: 100%;
    margin: 0;
    background-color: #D3D3D3;
}
.parceiros > h2{
    font-family: Helvetica;     
    letter-spacing: .2rem;
    font-weight: bold;  
}

.imagem {
    display: flex;
    justify-content: space-around;
    width: 100%;
}

.imagem > span {
    background-color: white;
    width: 150px;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.maps {
    background-color: white !important;
    height: 150px;
    width: 25%;
    margin: 2%;
    display: flex;
    justify-content: center;
    align-items: center;
    color: black !important;
    border: 1px solid black !important;
}

.footer {
    background-color: #D3D3D3;
    width: 100%;
    height: 100px;
    display: flex;
    justify-content: space-around;
    align-items: center; 
}

.footer > div > img {
    width: 50px;
    height: 50px;
    margin: 10px;
    font-family: Helvetica;     
    letter-spacing: .2rem;
    font-weight: bold;  

}