body {
    width: 100%;
    margin: 0;
    
}

.menu {
    height: max-content;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;  
    font-size: 20px;
    font-family: Helvetica;
    letter-spacing: .15rem;
    text-transform: uppercase;
    flex-shrink: 1 !important;
    background-color: #cccccc;
}
/* 1em = 12pt = 16px = 100% */
.menu > button {
    margin: 3em;
    height: 3em;
    width: 18em;
    font-size: 1em;
    font-family: Helvetica;     
    font-weight: bold; 
}

.menu > img {
    height: 30%;
    width: 50%;
    margin: 5%;
    flex-direction: column;
    align-self: center;
    
}
.corpo {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.descricao {
    height: max-content;
    background-color: #D3D3D3;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-grow: 1;
	flex-shrink: 1 !important;
}

.box-1 {
    box-sizing: border-box;
    background-color: #D3D3D3;
    width: 50%;
    height: 300%;
    margin: 5%;
    flex-grow: 1;
    flex-shrink: 1 !important;
    font-family: Helvetica;
}

.box-2 {
    box-sizing: border-box;
    background-color: white;
    width: 50%;
    margin: 5%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-grow: 1;
	flex-shrink: 1 !important;
}

.box-2 > img {
    width: 100%;
}

.programacao {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #363636;
    color: white;
    width: 100%;
    height: 200px;
    height: max-content;
    font-family: Helvetica;
}
.programacao > h2 {
    font-family: Helvetica;     
    letter-spacing: .2rem;
    font-weight: bold;  
}
.programacao > div {
    background-color: #363636;
    color: white;

}

.programacao > div > div {
    background-color: #363636;
}

.programacao > iframe {
    margin: 15px;
}
.parceiros {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    height: 250px;
    width: 100%;
    margin: 0;
    background-color: #D3D3D3;
}
.parceiros > h2{
    font-family: Helvetica;     
    letter-spacing: .2rem;
    font-weight: bold;  
}

.imagem {
    display: flex;
    justify-content: space-around;
    width: 100%;
}

.imagem > span {
    background-color: white;
    width: 150px;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.maps {
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid black !important;
    width:80%; 
    height:20em;
    margin: 2%;
}

.footer {
    background-color: #D3D3D3;
    width: 100%;
    height: 100px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    justify-content: flex-end;
}
.footer > div {
    letter-spacing: .2rem;
    font-weight: bold;  
    image-rendering: "auto"
}
.footer > div > img {
    width: 50px;
    height: 50px;
    margin: 10px;   
    letter-spacing: .2rem;
    font-weight: bold;  
    image-rendering: "auto"
}